@import "./GlobalStyle.css";
@import "./VarStyle.css";

/* @media screen and (min-width: 600px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    padding-top: 0;
  }
  .content__title .title {
    font-size: 1.1em;
    letter-spacing: 1px;
  }
  .content__form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subtitle {
    font-size: 2em;
  }
} */
/* @media screen and (min-width: 940px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/bg.jpg");
  }
  .content__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subtitle {
    letter-spacing: 3px;
    font-size: 2.4em;
  }
} */

/* @media screen and (min-width: 700px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
  }
  .logo {
    font-size: 1.4rem;
    font-weight: 300;
  }
  .top__nav {
    width: 40%;
  }
  .nav__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    position: static;
    background: none; 
    border: none;
  }
  .nav__item {
    opacity: 1;
    padding: 0 10px;
  }
  .nav__link {
    opacity: 1;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 300;
  }
  .nav__link:hover {
    border-bottom: 1px solid #ffffff;
    color: rgba(255, 255, 255, 0.6);
  }
  .sign-btn {
    border-radius: 20px;
    background: #ffffff;
    padding: 6px 15px;
  }
  .sign-btn .nav__link {
    color: #2f4353;
  }
  .open__button {
    display: none;
  }
  .nav__bg__active .nav__link {
    color: #2f4353;
  }
  .nav__bg__active .sign-btn {
    background: #2f4353;
  }
  .nav__bg__active .sign-btn .nav__link {
    color: #ffffff;
  }
  .nav__bg__active nav {
    margin: 0 auto;
  }
} */
/* @media screen and (min-width: 900px) {
  .nav__list { width: 50%; }
  .top__nav { width: 50%; }
}
@media screen and (min-width: 748px) {
  section {
    .login {
      .form__login {
        width: 50%;
      }
    }
  }
} */
/* @media (hover: hover) and (min-width: 600px) {
  .services__card:after {
    transform: translateY(0);
  }

  .services__card__content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .services__card__content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1),
      opacity 700ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .services__card:hover,
  .services__card:focus-within {
    align-items: center;
  }
  .services__card:hover:before,
  .services__card:focus-within:before {
    transform: translateY(-4%);
  }
  .services__card:hover:after,
  .services__card:focus-within:after {
    transform: translateY(-50%);
  }
  .services__card:hover .services__card__content,
  .services__card:focus-within .services__card__content {
    transform: translateY(0);
  }
  .services__card:hover .services__card__content > *:not(.title),
  .services__card:focus-within .services__card__content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(700ms / 8);
  }

  .services__card:focus-within:before,
  .services__card:focus-within:after,
  .services__card:focus-within .services__card__content,
  .services__card:focus-within .services__card__content > *:not(.title) {
    transition-duration: 0s;
  }
}

@media screen and (max-width: 1045px) {
  .lg-services {
    display: none;
  }
  .sub {
    margin: 2em 0;
  }
}
@media screen and (max-width: 600px) {
  .upContent {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
  }
  .articles__article,
  .articles__article:before {
    width: calc(11.3px * 35);
  }
}
@media screen and (max-width: 450px) {
  .articles__article,
  .articles__article:before {
    width: calc(9px * 35);
  }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  .articles__article,
  .articles__article:before {
    width: calc(7px * 35);
  }
  .articles {
    margin: calc(8px * 2) auto 0;
    grid-column-gap: calc(1px * 5.9);
  }
  .upContent {
    flex-wrap: wrap;
  }
  .services {
    padding: 0 26px 10em 26px !important;
  }
} */
/* @media screen and (min-width: 600px) {
  .card__app {
    display: flex;
    border-radius: 10px;
    padding: 1em;
  }
  .card__img {
    height: 300px;
    width: 100%;
    order: 1;
  }
  .card__img2 {
    height: 300px;
    width: 100%;
    order: 1;
  }
  .card__c {
    display: flex;
    border-radius: 10px;
  }
  .order {
    order: -1;
  }
  .app {
    padding: 2em 26px;
  }
  .services {
    padding: 3em 26px 4em 26px;
  }
  p {
    font-size: 1.2em;
  }
  .discover {
    padding: 4em 26px;
  }
  .discover__card {
    background: #ffffff;
    color: #233e41;
  }
}
@media (min-width: 600px) {
  .services__card {
    height: 350px;
  }
}
@media screen and (min-width: 600px) {
  .footer__content {
    display: flex;
    justify-content: space-between;
  }
  .footer__contentList {
    margin-bottom: 4%;
  }
  footer {
    padding: 2% 0 .7em 0;
  }
}

@media screen and (max-width: 740px){
  .footer__icon {
    padding-top: .7em;
    padding-bottom: 1.7em;
    margin-left: -6%;
    margin-top: 7px;
  } 
}
@media screen and (min-width: 700px) {
  .contact{
    width: 50%;

    .contact__subtitle{
      justify-content: space-between;
      font-size: 2.4rem;
      width: 50%;
    }

    .chips{
      width: 50%;
    } 
  }
} */